/*font-family: 'Lobster', cursive;
font-family: 'Droid Sans Mono', monospace;*/

body {
    background-image: url("../images/disney.jpg");
    width: 100%;
    padding-bottom: 100%;
}

h1 {
    color: blue;
    font-family: 'Lobster', cursive;
    font-size: 300%;
    text-align: center;
}

#quiz1 {
    display: none;
}

#wrapper {
    background-color: yellow;
    width: 100%;
    margin: 0;
    font-size: 150%;
    padding-left: 25px;
    border-style: double;
    border-width: thick;
    border-color: red;
    margin-bottom: 10px;
}

img {
   /*dding-left: 40px;*/
    width:75%;
    
}

h3 {
    color: Blue;
    
    font-family: 'Lobster', cursive;
    text-align: center;
}

#totalscore {
    background: teal;
    color: white;
    width: 25%;
}

#timer {
    color: blue;
    font-size: 24px;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

#display {
    text-align: center;
    font-size: 80px;
    font-family: monospace;
    background: black;
    color: green;
}

#wrapper {
    margin: 50px auto 0;
    width: 750px;
}

#buttons {
    text-align: center;
}

button {
    /* Box-model */
    height: 50px;
    width: 100px;
}

.answers li {
    list-style: upper-alpha;
}

label {
    margin-left: 0.5em;
    cursor: pointer;
}

#results {
    background: #dddada;
    color: 000000;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}

#results:hover {
    background: #3d91b8;
    color: #ffffff;
    padding: 3px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    border: 1px solid gray;
}
